<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-cart></app-cart>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <button
        mdbBtn
        color="secondary"
        (click)="sidenav.toggle()"
        *ngIf="isAuth && !isAdmin"
      >
        Cart
        <mdb-badge info="true">{{ numOfItems }}</mdb-badge>
      </button>
    </p>
    <div class="products">
      <app-product-list></app-product-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
