<div class="shopping-cart container">
  <h1>Shopping Cart</h1>
  <ng-container *ngIf="products.length > 0; else emptyCart">
    <div *ngFor="let product of products">
      <app-cart-item
        [product]="product"
        (removeItem)="removeFromCart($event)"
        (quantity)="updateQuantity($event)"
      ></app-cart-item>
    </div>
    <div class="totals">
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total">{{ total.toFixed(2) }}</div>
      </div>
    </div>

    <button *ngIf="products.length" (click)="checkout()" mdbBtn color="primary">
      Checkout
    </button>
    <button *ngIf="products.length" (click)="clear()" mdbBtn color="warning">
      Clear cart
    </button>
  </ng-container>
  <ng-template #emptyCart>
    <h1>Your cart is empty</h1>
  </ng-template>
</div>
