<h1>Shopping Cart</h1>

<div class="shopping-cart">
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Book</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
  <ng-container *ngIf="products.length > 0; else emptyCart">
    <div *ngFor="let product of products">
      <app-cart-item
        [product]="product"
        (removeItem)="removeFromCart($event)"
        (quantity)="updateQuantity($event)"
      ></app-cart-item>
    </div>
    <div class="totals">
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total">{{ total.toFixed(2) }}</div>
      </div>
    </div>

    <button *ngIf="products.length" (click)="checkout()" class="checkout">
      Checkout
    </button>
    <button *ngIf="products.length" (click)="clear()" class="clear">
      Clear cart
    </button>
  </ng-container>
  <ng-template #emptyCart>
    <h1>Empty</h1>
  </ng-template>
</div>
