<div class="container">
  <div class="row">
    <div class="col-3">
      <p>
        <input
          #query
          (keyup)="filter(query.value)"
          type="text"
          class="form-control"
          placeholder="Search..."
        />
      </p>
    </div>
    <div class="col-9">
      <app-product-filter [category]="category"></app-product-filter>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <app-card
        *ngFor="let product of filteredProducts"
        [product]="product"
        (removeItem)="removeFromCart($event)"
        (quantity)="updateQuantity($event)"
      ></app-card>
    </div>
  </div>
</div>
