<div class="container">
  <div class="row">
    <div class="col-3">
      <p>
        <input
          #query
          (keyup)="filter(query.value)"
          type="text"
          class="form-control"
          placeholder="Search..."
        />
      </p>
    </div>
    <div class="col-9">
      <div class="list-group list-group-horizontal">
        <a
          class="list-group-item list-group-item-action"
          [class.active]="!category"
          routerLink="/products"
          >All categories</a
        >
        <a
          *ngFor="let c of categories"
          routerLink="/products"
          [queryParams]="{ category: c.categoryName }"
          class="list-group-item list-group-item-action"
          [class.active]="category === c.categoryName"
        >
          {{ c.categoryName }}
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-deck">
      <app-card
        *ngFor="let product of filteredProducts"
        [product]="product"
        (removeItem)="removeFromCart($event)"
      ></app-card>
    </div>
  </div>
</div>
