<form (ngSubmit)="onSubmit()" [formGroup]="registerForm1">
  <div class="md-form mb-5">
    <i class="fas fa-envelope prefix grey-text"></i>
    <input
      formControlName="email"
      type="email"
      id="defaultForm-email"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-email"
      >Your email</label
    >
    <mdb-error
      *ngIf="
        registerForm1.get('email').touched &&
        registerForm1.get('email').hasError('required')
      "
      >Required Field</mdb-error
    >
    <mdb-error
      *ngIf="
        registerForm1.get('email').touched &&
        registerForm1.get('email').hasError('email')
      "
      >Not valid email</mdb-error
    >
  </div>

  <div class="md-form mb-4">
    <i class="fas fa-lock prefix grey-text"></i>
    <input
      formControlName="password"
      type="password"
      id="defaultForm-password"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-password"
      >Your password</label
    >
    <mdb-error
      *ngIf="
        registerForm1.get('password').touched &&
        registerForm1.get('password').hasError('required')
      "
      >Password is required!</mdb-error
    >
    <mdb-error
      *ngIf="
        registerForm1.get('password').touched &&
        registerForm1.get('password').hasError('minlength')
      "
      >Your password must be at least 6 symbols</mdb-error
    >
  </div>

  <div class="md-form mb-4">
    <i class="fas fa-lock prefix grey-text"></i>
    <input
      formControlName="password2"
      type="password"
      id="defaultForm-password2"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-password2"
      >Confirm password</label
    >
    <mdb-error
      *ngIf="
        registerForm1.get('password2').touched &&
        registerForm1.get('password2').hasError('required')
      "
      >Please type passwors again</mdb-error
    >
    <mdb-error
      *ngIf="
        registerForm1.get('password2').touched &&
        registerForm1.get('password2').hasError('minlength')
      "
      >Your password must be at least 6 symbols</mdb-error
    >
  </div>

  <div class="md-form mb-4">
    <i class="fas fa-lock prefix grey-text"></i>
    <input
      formControlName="id"
      type="text"
      id="defaultForm-id"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-id"
      >ID</label
    >
    <mdb-error
      *ngIf="
        registerForm1.get('id').touched &&
        registerForm1.get('id').hasError('required')
      "
      >ID Is required!</mdb-error
    >
    <mdb-error
      *ngIf="
        registerForm1.get('id').touched &&
        registerForm1.get('id').hasError('minlength')
      "
      >ID must be at least 9 symbols</mdb-error
    >
  </div>

  <div class=" d-flex justify-content-center">
    <button
      type="submit"
      [disabled]="registerForm1.invalid"
      mdbBtn
      color="default"
      class="waves-light"
      mdbWavesEffect
    >
      Next
    </button>
  </div>
</form>

<form *ngIf="next" (ngSubmit)="onSubmit2()" [formGroup]="registerForm2">
  <div class="md-form mb-5">
    <i class="fas fa-envelope prefix grey-text"></i>
    <input
      formControlName="city"
      type="text"
      id="defaultForm-city"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-city"
      >City</label
    >
    <mdb-error
      *ngIf="
        registerForm2.get('city').touched &&
        registerForm2.get('city').hasError('required')
      "
      >Required Field</mdb-error
    >
  </div>

  <div class="md-form mb-4">
    <i class="fas fa-lock prefix grey-text"></i>
    <input
      formControlName="street"
      type="text"
      id="defaultForm-street"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-street"
      >Street</label
    >
    <mdb-error
      *ngIf="
        registerForm2.get('street').touched &&
        registerForm2.get('street').hasError('required')
      "
      >Required Field</mdb-error
    >
  </div>

  <div class="md-form mb-4">
    <i class="fas fa-lock prefix grey-text"></i>
    <input
      formControlName="firstName"
      type="text"
      id="defaultForm-firstName"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-firstName"
      >First Name</label
    >
    <mdb-error
      *ngIf="
        registerForm2.get('firstName').touched &&
        registerForm2.get('firstName').hasError('required')
      "
      >Required Field</mdb-error
    >
  </div>

  <div class="md-form mb-4">
    <i class="fas fa-lock prefix grey-text"></i>
    <input
      formControlName="lastName"
      type="text"
      id="defaultForm-lastName"
      class="form-control validate"
      mdbInput
    />
    <label data-error="wrong" data-success="right" for="defaultForm-lastName"
      >Last Name</label
    >
    <mdb-error
      *ngIf="
        registerForm2.get('lastName').touched &&
        registerForm2.get('lastName').hasError('required')
      "
      >Required Field</mdb-error
    >
  </div>

  <div class=" d-flex justify-content-center">
    <button
      [disabled]="registerForm2.invalid"
      mdbBtn
      color="default"
      class="waves-light"
      mdbWavesEffect
    >
      Register
    </button>
    <button
      type="button"
      mdbBtn
      color="primary"
      outline="true"
      [routerLink]="['']"
      class="waves-light"
    >
      Login
    </button>
  </div>
</form>
