<div class="home-container">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <ng-template [ngIf]="isAuth && !isAdmin">
          <app-start-shopping></app-start-shopping>
        </ng-template>
      </div>
      <app-login></app-login>
    </div>
    <div class="col-4"><p>Why you shuold buy from our store</p></div>
    <div class="col-4">
      stroe details
      <p>We have {{ numOfProducts }} products in our store!</p>
      <p>{{ numOfOrders }} Orders pruchased from our store!</p>
      <ng-template [ngIf]="isAuth && !isAdmin">
        <app-notifications></app-notifications>
      </ng-template>
    </div>
  </div>
</div>
