<div class="home-container">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <ng-template [ngIf]="isAuth && !isAdmin">
          <app-start-shopping></app-start-shopping>
          <!-- <div>
            <button
              mdbBtn
              color="default"
              class="waves-light"
              mdbWavesEffect
              routerLink="products"
            >
              Start Shopping
            </button>
          </div> -->
        </ng-template>
      </div>
      <app-login></app-login>
    </div>
    <div class="col-4"><p>Why you shuold buy from our store</p></div>
    <div class="col-4">
      stroe details
      <p>num of products {{ numOfProducts }}</p>
      <ng-template [ngIf]="isAuth && !isAdmin">
        <app-notifications></app-notifications>
      </ng-template>
    </div>
  </div>
</div>

<!-- <div class="home-container">
  <div class="home-wrapper">
    <div class="login home-item">
      <ng-template [ngIf]="isAuth">
        <div class="start-shopping">
          <button
            mdbBtn
            color="default"
            class="waves-light"
            mdbWavesEffect
            routerLink="products"
          >
            Start Shopping
          </button>
        </div>
      </ng-template>
      <div class="for">
        <app-login></app-login>
      </div>
    </div>
    <div class="promo home-item">Why you should buy from our store</div>
    <div class="details home-item">Store details</div>
  </div>
</div> -->
