<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <ng-template [ngIf]="isAuth">
          <div>
            <button
              mdbBtn
              color="default"
              class="waves-light"
              mdbWavesEffect
              routerLink="products"
            >
              Start Shopping
            </button>
          </div>
        </ng-template>
      </div>
      <app-login></app-login>
    </div>
    <div class="col-4"><p>Why you shuold buy from our store</p></div>
    <div class="col-4">
      stroe details
      <p>num of products {{ numOfProducts }}</p>
    </div>
  </div>
</div>
