<div class="product">
  <div class="product-image">
    <img src="{{ product.image }}" />
  </div>
  <div class="product-details">
    <div class="product-title">{{ product.name }}</div>
  </div>
  <div class="product-price">{{ product.price.toFixed(2) }}</div>
  <div class="product-quantity">
    <input
      type="number"
      (change)="setQuantity($event, product._id)"
      value="{{ product.amount }}"
      min="1"
    />
  </div>
  <div class="product-removal">
    <button (click)="remove()" class="remove-product">
      Remove
    </button>
  </div>
  <div class="product-line-price">{{ productTotal.toFixed(2) }}</div>
</div>
