<mdb-card class="product">
  <div class="view overlay waves-light" mdbWavesEffect>
    <!-- Card img -->
    <mdb-card-img src="{{ product.image }}" alt="Card image cap"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>{{ product.name }}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>{{ product.price }} $ </mdb-card-text>
    <ng-container *ngIf="isAdmin; else userControls">
      <a
        routerLink="/admin/edit/{{ product._id }}"
        mdbBtn
        color="warning"
        mdbWavesEffect
        >Edit</a
      ></ng-container
    >
    <ng-template #userControls>
      <!-- <a (click)="addToCart()" mdbBtn color="primary" mdbWavesEffect>Buy</a> -->
      <div *ngIf="isInCart; else buyButton" class="product-quantity">
        <!-- <input
          type="number"
          (change)="setQuantity($event, product._id)"
          value="{{ product.quantity }}"
          min="1"
        /> -->
        <button (click)="remove()" mdbBtn color="danger">
          Remove
        </button>
      </div>
      <ng-template #buyButton>
        <a (click)="addToCart()" mdbBtn color="primary" mdbWavesEffect>Buy</a>
      </ng-template>
    </ng-template>
  </mdb-card-body>
</mdb-card>
