<!-- <mat-card [routerLink]="link" class="product">
  <mat-card-header>
    <mat-card-title>{{ product.name | uppercase }}</mat-card-title>
    <mat-card-subtitle
      >price: <strong>{{ product.price }}$</strong></mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image [src]="product.image" [alt]="product.name" />
</mat-card> -->

<!-- Card -->
<mdb-card>
  <div class="view rgba-white-slight waves-light">
    <!-- Card img -->
    <mdb-card-img
      class="card-item"
      src="{{ product.image }}"
      alt="Card image cap"
    ></mdb-card-img>
  </div>
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>{{ product.name }}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>{{ product.price }} $ </mdb-card-text>

    <ng-container *ngIf="isAdmin; else userControls">
      <a
        routerLink="/admin/edit/{{ product._id }}"
        mdbBtn
        color="warning"
        mdbWavesEffect
        >Edit</a
      >
    </ng-container>

    <ng-template #userControls>
      <a (click)="addToCart()" mdbBtn color="primary" mdbWavesEffect>Buy</a>
      <!-- <a *ngIf="isInCart" routerLink="/cart" mdbBtn color="primary" mdbWavesEffect>GO To Cart</a> -->
    </ng-template>
  </mdb-card-body>
</mdb-card>

<!-- Card -->
