// // // .card {
// // //   min-width: 8rem;
// // //   max-width: 8rem;
// // //   margin: 10px;
// // // }
// // // .card-image {
// // //   // max-height: 258px !important;
// // //   width: 100px;
// // // }

// // // .desc-box {
// // //   max-width: 520px;
// // //   background: wheat;
// // //   opacity: 0.6;
// // //   padding: 5px;
// // //   margin-top: 40px;
// // //   margin-bottom: 20px;
// // //   box-shadow: 4px 4px 0px black;
// // //   &:before {
// // //     content: '';
// // //     position: absolute;
// // //     border-left: 20px solid transparent;
// // //     border-right: 20px solid transparent;
// // //     border-bottom: 20px solid wheat;
// // //     margin-top: -20px;
// // //   }
// // // }
// // // p {
// // //   color: black;
// // //   font-size: 16px;
// // //   text-align: center;
// // //   font-family: sans-serif;
// // //   text-transform: uppercase;
// // //   & span {
// // //     font-size: 12px;
// // //   }
// // // }

// // // img {
// // //   width: 30%;
// // // }

// // img {
// //   height: auto;
// //   max-width: 100%;
// //   vertical-align: middle;
// // }

// // .btn {
// //   background-color: white;
// //   border: 1px solid lightgray;
// //   border-radius: 1rem;
// //   color: darkgray;
// //   padding: 0.5rem;
// //   text-transform: lowercase;
// // }

// // .btn--block {
// //   display: block;
// //   width: 100%;
// // }

// // .cards {
// //   display: flex;
// //   flex-wrap: wrap;
// //   list-style: none;
// //   margin: 0;
// //   padding: 0;
// // }

// // .cards__item {
// //   display: flex;
// //   padding: 1rem;
// //   @media (min-width: 40rem) {
// //     width: 50%;
// //   }
// //   @media (min-width: 56rem) {
// //     width: 33.3333%;
// //   }
// // }

// // .card1 {
// //   background-color: white;
// //   border-radius: 0.25rem;
// //   box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
// //   display: flex;
// //   flex-direction: column;
// //   overflow: hidden;
// //   &:hover {
// //     .card__image {
// //       filter: contrast(100%);
// //     }
// //   }
// // }

// // .card__content {
// //   display: flex;
// //   flex: 1 1 auto;
// //   flex-direction: column;
// //   padding: 1rem;
// // }

// // .card__image {
// //   background-position: center center;
// //   background-repeat: no-repeat;
// //   background-size: cover;
// //   border-top-left-radius: 0.25rem;
// //   border-top-right-radius: 0.25rem;
// //   // filter: contrast(70%);
// //   //filter: saturate(180%);
// //   overflow: hidden;
// //   position: relative;
// //   // transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
// //   // &::before {
// //   //   content: '';
// //   //   display: block;
// //   //   padding-top: 56.25%; // 16:9 aspect ratio
// //   // }
// //   @media (min-width: 40rem) {
// //     &::before {
// //       padding-top: 66.6%; // 3:2 aspect ratio
// //     }
// //   }
// // }

// // .card__title {
// //   font-size: 1.25rem;
// //   font-weight: 300;
// //   letter-spacing: 2px;
// //   text-transform: uppercase;
// // }

// // .card__text {
// //   flex: 1 1 auto;
// //   font-size: 0.875rem;
// //   line-height: 1.5;
// //   margin-bottom: 1.25rem;
// // }

// .card-image {
//   width: 15%;
// }

// .card {
//   width: 10rem;
// }

.card-img-top {
  position: relative;
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// .product-image {
//   float: center;
//   // width: 70%;
//   vertical-align: middle;
//   border-style: none;
//   width: 100%;
//   height: 250px;
//   object-fit: cover;
// }

// .product-details {
//   float: left;
//   width: 37%;
// }

// .product-price {
//   float: left;
//   width: 12%;
// }

// .product-quantity {
//   float: left;
//   width: 10%;
// }

// .product-removal {
//   float: left;
//   width: 9%;
// }

// .product-line-price {
//   float: left;
//   width: 12%;
//   text-align: right;
// }

// /* This is used as the traditional .clearfix class */
// .group:before,
// .shopping-cart:before,
// .column-labels:before,
// .product:before,
// .totals-item:before,
// .group:after,
// .shopping-cart:after,
// .column-labels:after,
// .product:after,
// .totals-item:after {
//   content: '';
//   display: table;
// }

// .group:after,
// .shopping-cart:after,
// .column-labels:after,
// .product:after,
// .totals-item:after {
//   clear: both;
// }

// .group,
// .shopping-cart,
// .column-labels,
// .product,
// .totals-item {
//   zoom: 1;
// }

// /* Apply clearfix in a few places */
// /* Apply dollar signs */
// .product .product-price:before,
// .product .product-line-price:before,
// .totals-value:before {
//   content: '$';
// }

// /* Body/Header stuff */
// body {
//   padding: 0px 30px 30px 20px;

//   font-weight: 100;
// }

// h1 {
//   font-weight: 100;
// }

// label {
//   color: #aaa;
// }

// .shopping-cart {
//   margin-top: -45px;
// }

// /* Column headers */
// .column-labels label {
//   padding-bottom: 15px;
//   margin-bottom: 15px;
//   border-bottom: 1px solid #eee;
// }
// .column-labels .product-image,
// .column-labels .product-details,
// .column-labels .product-removal {
//   text-indent: -9999px;
// }

// /* Product entries */
// .product {
//   margin-bottom: 20px;
//   padding-bottom: 10px;
//   border-bottom: 1px solid #eee;
// }
// .product .product-image {
//   text-align: center;
// }
// .product .product-image img {
//   width: 100px;
// }
// .product .product-details .product-title {
//   margin-right: 20px;
//   // font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
// }
// .product .product-details .product-description {
//   margin: 5px 20px 5px 0;
//   line-height: 1.4em;
// }
// .product .product-quantity input {
//   width: 40px;
// }
// .product .remove-product {
//   border: 0;
//   padding: 4px 8px;
//   background-color: #c66;
//   color: #fff;
//   // font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
//   font-size: 12px;
//   border-radius: 3px;
// }
// .product .remove-product:hover {
//   background-color: #a44;
// }

// /* Totals section */
// .totals .totals-item {
//   float: right;
//   clear: both;
//   width: 100%;
//   margin-bottom: 10px;
// }
// .totals .totals-item label {
//   float: left;
//   clear: both;
//   width: 79%;
//   text-align: right;
// }
// .totals .totals-item .totals-value {
//   float: right;
//   width: 21%;
//   text-align: right;
// }

// .checkout {
//   float: right;
//   border: 0;
//   margin-top: 20px;
//   padding: 6px 25px;
//   background-color: #6b6;
//   color: #fff;
//   font-size: 25px;
//   border-radius: 3px;
// }

// .checkout:hover {
//   background-color: #494;
// }

// /* Make adjustments for tablet */
// @media screen and (max-width: 650px) {
//   .shopping-cart {
//     margin: 0;
//     padding-top: 20px;
//     border-top: 1px solid #eee;
//   }

//   .column-labels {
//     display: none;
//   }

//   .product-image {
//     float: right;
//     width: auto;
//   }
//   .product-image img {
//     margin: 0 0 10px 10px;
//   }

//   .product-details {
//     float: none;
//     margin-bottom: 10px;
//     width: auto;
//   }

//   .product-price {
//     clear: both;
//     width: 70px;
//   }

//   .product-quantity {
//     width: 100px;
//   }
//   .product-quantity input {
//     margin-left: 20px;
//   }

//   .product-quantity:before {
//     content: 'x';
//   }

//   .product-removal {
//     width: auto;
//   }

//   .product-line-price {
//     float: right;
//     width: 70px;
//   }
// }
// /* Make more adjustments for phone */
// @media screen and (max-width: 350px) {
//   .product-removal {
//     float: right;
//   }

//   .product-line-price {
//     float: right;
//     clear: left;
//     width: auto;
//     margin-top: 10px;
//   }

//   .product .product-line-price:before {
//     content: 'Item Total: $';
//   }

//   .totals .totals-item label {
//     width: 60%;
//   }
//   .totals .totals-item .totals-value {
//     width: 40%;
//   }
// }
