<div class="container">
  <div class="row space-top text-center">
    <div class="col-md-12">
      <h1 class="name">Edit Product:</h1>
    </div>
  </div>
  <form [formGroup]="editProductForm" (ngSubmit)="edit()">
    <div class="row space-top">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label" for="name">Name</label>
          <input
            formControlName="name"
            type="text"
            id="defaultForm-name"
            class="form-control validate"
          />
          <div class="col-sm-6">
            <small
              *ngIf="
                editProductForm.get('name').touched &&
                editProductForm.get('name').hasError('required')
              "
              class="text-danger"
            >
              Name is required
            </small>
            <small
              *ngIf="
                editProductForm.get('name').touched &&
                editProductForm.get('name').hasError('minlength')
              "
              class="text-danger"
            >
              Title must be at least 3 symbols
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="category">Category</label>
          <select formControlName="categoryName" class="custom-select">
            <option
              *ngFor="let category of categories"
              [value]="category.categoryName"
            >
              {{ category.categoryName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="price">Price</label>
          <input
            formControlName="price"
            type="number"
            step="0.01"
            id="defaultForm-price"
            class="form-control validate"
          />
          <div class="col-sm-6">
            <small
              *ngIf="
                editProductForm.get('price').touched &&
                editProductForm.get('price').hasError('required')
              "
              class="text-danger"
            >
              Price is required
            </small>
            <small
              *ngIf="
                editProductForm.get('price').touched &&
                editProductForm.get('price').hasError('min')
              "
              class="text-danger"
            >
              Price must be positive
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="image">Image Url</label>
          <input
            formControlName="image"
            type="text"
            id="defaultForm-image"
            class="form-control validate"
          />
          <div class="col-sm-6">
            <small
              *ngIf="
                editProductForm.get('image').touched &&
                editProductForm.get('image').hasError('required')
              "
              class="text-danger"
            >
              ImageUrl is required
            </small>
            <small
              *ngIf="
                editProductForm.get('image').touched &&
                editProductForm.get('image').hasError('pattern')
              "
              class="text-danger"
            >
              ImageUrl must be a valid url
            </small>
          </div>
        </div>

        <input
          type="submit"
          class="btn btn-warning"
          value="Edit"
          [disabled]="editProductForm.invalid"
        />
      </div>
    </div>
  </form>
</div>
