<div class="container">
  <div class="row space-top text-center">
    <div class="col-md-12">
      <h1 class="name">Add new Product:</h1>
    </div>
  </div>
  <form [formGroup]="createProductForm" (ngSubmit)="create()">
    <div class="row space-top">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label" for="name">Name</label>
          <input
            formControlName="name"
            type="text"
            id="defaultForm-name"
            class="form-control validate"
          />
          <div class="col-sm-6">
            <small
              *ngIf="
                createProductForm.get('name').touched &&
                createProductForm.get('name').hasError('required')
              "
              class="text-danger"
            >
              Name is required
            </small>
            <small
              *ngIf="
                createProductForm.get('name').touched &&
                createProductForm.get('name').hasError('minlength')
              "
              class="text-danger"
            >
              Title must be at least 3 symbols
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="category">Category</label>
          <select formControlName="categoryName" class="custom-select">
            <option
              *ngFor="let category of categories"
              [value]="category.categoryName"
            >
              {{ category.categoryName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="price">Price</label>
          <input
            formControlName="price"
            type="number"
            step="0.01"
            id="defaultForm-price"
            class="form-control validate"
          />
          <div class="col-sm-6">
            <small
              *ngIf="
                createProductForm.get('price').touched &&
                createProductForm.get('price').hasError('required')
              "
              class="text-danger"
            >
              Price is required
            </small>
            <small
              *ngIf="
                createProductForm.get('price').touched &&
                createProductForm.get('price').hasError('min')
              "
              class="text-danger"
            >
              Price must be positive
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="image">Image Url</label>
          <input
            #image
            formControlName="image"
            type="text"
            id="defaultForm-image"
            class="form-control validate"
          />
          <div class="col-sm-6">
            <small
              *ngIf="
                createProductForm.get('image').touched &&
                createProductForm.get('image').hasError('required')
              "
              class="text-danger"
            >
              ImageUrl is required
            </small>
            <small
              *ngIf="
                createProductForm.get('image').touched &&
                createProductForm.get('image').hasError('pattern')
              "
              class="text-danger"
            >
              ImageUrl must be a valid url
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img
              [src]="image.value"
              class="img-thumbnail float-right"
              style="width: 100px"
            />
          </div>
          <div class="col-8">
            <input
              type="submit"
              class="btn btn-warning"
              value="Create"
              [disabled]="createProductForm.invalid"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
